<style>


  .slider {
    display: flex;
    width: 100%;
    overflow: hidden;
  }

  .photo {
    transition: ease-in-out 0.4s;
    width: 600px;
    height: 450px;
  }

  .photosmini {
    width: 120px;
    object-fit: cover;
  }
</style>

<div class="mainDisplay">
  <div class="slide">
    <div class="showPhoto">
      <img class="photo" [src]="photos[slide-1].url">
    </div>
    <div class="buttons">
      <button (click)="leftSlide($event)" [disabled]="slide <= 1">
        <img src="./assets/img/right.png" class="revers">
      </button>
      <button (click)="rightSlide($event)" [disabled]="slide >= photos.length">
        <img src="./assets/img/right.png">
      </button>
    </div>
  </div>
  <div class="slider">
    <div class="moveSlider">
        <img class="photosmini" *ngFor="let p of photos; let index = index" [src]="p.url" (click)="slide = index+1">
    </div>
    <div class="buttons">
      <button (click)="leftSlider($event)" [disabled]="state.sliderCons">
        <img src="./assets/img/right.png" class="revers">
      </button>
      <button (click)="rightSlider($event)" [disabled]="state.sliderPlus">
      <img src="./assets/img/right.png"></button>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
