<style>
  .moveSlider {
    display: flex;
    position: relative;
    left: 0px;
    transition: ease-in-out 0.2s;
  }

  .slider {
    display: flex;
    width: 150px;
    overflow: hidden;
  }

  .photo {
    transition: ease-in-out 0.4s;
    width: 600px;
    height: 450px;
  }

  .photosmini {
    width: 40px;
    height: 40px;
  }
</style>

<div class="toolbar" role="banner">
  <div class="slider">
    <div class="moveSlider">
      <div *ngFor="let p of photos">
        <img class="photosmini" [src]="p.url">
      </div>
    </div>
  </div>

  <div class="showPhoto">
    <img class="photo" [src]="photos[slide-1].url">
  </div>
  <button (click)="leftSlide($event)" [disabled]="slide <= 1">-</button>
  <button (click)="rightSlide($event)" [disabled]="slide >= photos.length">+</button>
</div>
<router-outlet></router-outlet>
