<style>


  .slider {
    display: flex;
    width: 100%;
    overflow: hidden;
  }

  .photo {
    transition: ease-in-out 0.4s;
    width: 600px;
    height: 450px;
  }

</style>

<div class="mainDisplay">
  <div class="slide">
    <div class="showPhoto">
      <img class="photo" [src]="photos[slide-1].url"
           (click)="popup ? popup = false : popup = true">
    </div>
    <div class="buttons">
      <button (click)="leftSlide()" [disabled]="slide <= 1">
        <img src="./assets/img/right.png" class="revers">
      </button>
      <button (click)="rightSlide($event)" [disabled]="slide >= photos.length">
        <img src="./assets/img/right.png">
      </button>
    </div>
  </div>
<app-slider [slide]="slide" [photos]="photos" [state]="state" (ChangeSlide)="onChangeData($event)"
            class="slider">
</app-slider>
    <app-pop-up *ngIf="popup" [photo]="photos[slide-1]" (changepopup)="onChangePopup($event)">
    </app-pop-up>
</div>



<router-outlet></router-outlet>
